
.wrapper {  
    height: 20vw;
    width: 20vw;
    text-align: center;
    vertical-align: center;
    border : 1px solid black;
    padding : 20%;
    margin-top : 2%;
    margin-left : 5%;
}

.myBtn {
    margin-left: 40%;
}
