<div class="wrapper" (window:resize)="onResize($event)">

    <webcam [width]="width" [height]="height" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
        *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
        [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)" class = 'wb'>
    </webcam>
</div>

<div class="row">
    <button class="btn btn-primary myBtn wb" (click)="triggerSnapshot()">SNAP</button>
</div>

