
.wrapper {
    display: flex;
    /* height: 600; */
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.actionBtn {
    margin-left: 30%;
    margin-top : 10%;
}

.row {
    display: flex;
    justify-content: center;
}

.myBtn {
    /* margin-left: 50vw;
    margin-right: 50vw; */
    width : 50vw;
    height : 10vh;
    background-color: rgb(39, 39, 39);
    
    margin-top:2vh;
}

.myBtn:hover {
    background-color: rgb(50, 50, 50);
    /* color : rgb(39, 39, 39); */
    border-color: rgb(244,124,72);
}

.wb {
    border : 3px solid white;
    border-radius: 10px;
}

.letter
{
    letter-spacing: 5px;
    font-size: 40px;
    font-family:sans-serif;
}