<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-top></app-top>

<div class="introduction">
  <div class="col">
    <div class="row line">
      <div class="topic">
        <h1>Snap + Code = SnapCode</h1>
      </div>
      
      
    </div>

    <div class="row line">
      
    </div>
  
    <div class="row line">
      <p>SnapCode is a web application that helps see output of code block by just taking picture</p>
    </div>
    
  
    <div class="row line">
      <button class = 'btn myButton'><a href = '#camera' style="scroll-behavior:smooth;">Get Started</a></button>
    </div>
    
  </div>
  
</div>

<div class="myContainer"  id="camera">
  <div class="wrapper">
    <app-camera></app-camera>
  </div>
</div>

<div class="transfer">
  <i class="fa fa-angle-double-down" style="font-size:200px"></i>
</div>

<div class="myContainer">
  <div class="wrapper">
    <app-code></app-code>
  </div>
</div>

<div class="transfer">
  <i class="fa fa-angle-double-down" style="font-size:200px"></i>
</div>

<div class="myContainer">
  <div class="wrapper">
    <app-result [result]='compileResult'></app-result>
  </div>
</div>
