<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-top></app-top>

<div class="myContainer">
  <div class="wrapper">
    <app-camera></app-camera>
  </div>
</div>

<div class="transfer">
  <i class="fa fa-angle-double-down" style="font-size:200px"></i>
</div>

<div class="myContainer">
  <div class="wrapper">
    <app-code></app-code>
  </div>
</div>

<div class="transfer">
  <i class="fa fa-angle-double-down" style="font-size:200px"></i>
</div>

<div class="myContainer">
  <div class="wrapper">
    <app-result [result]='compileResult'></app-result>
  </div>
</div>
