.wrapper {  
    text-align: center;
    vertical-align: center;
    /* margin : 5vw; */
    /* border : 1px solid black; */
    padding: 5vw;
}
.transfer {
    text-align: center;
    vertical-align: center;
}

.myContainer {
    background-color: rgb(39, 39, 39);
}