.wrapper {  
    text-align: center;
    vertical-align: center;
    /* margin : 5vw; */
    /* border : 1px solid black; */
    padding: 5vw;
}
.transfer {
    text-align: center;
    vertical-align: center;
    /* padding-top: vh; */
}

.transfer:hover {
    color:rgb(244,124,72);
}

.myContainer {
    background-color: rgb(39, 39, 39);
}

.introduction {
    background-color: rgb(50, 50, 50);
    display: flex;
    /* height: 600; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 30vh;
}
a {
    color : white;
}

a:hover{
text-decoration: none;
}

.myButton {
    border: 0.3px solid white;
    border-radius: 10px;
}

.myButton:hover {
    background-color: rgb(60, 60, 60);
    border-color:rgb(244,124,72);
}

.line {
    background-color: rgb(50, 50, 50);
    display: flex;
    /* height: 600; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color : white;
    margin:none;
}

.topic {
    border: 1px solid white;
    border-radius: 10px;
    padding: 2vh;
    margin-bottom: 2vh;
    padding-top :1vh ;
    padding-bottom: 1vh; 
    margin-top : 1vh;
}

h1 {
    font-size : 24px;
    font-family: sans-serif;
    font-weight:normal;
    line-height: 40px;
}

p {
    font-size : 16px;
    font-family: sans-serif;
    font-weight:100;
    line-height: 20px;

}