<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-top></app-top>

<div class="introduction">
  <div class="col">
    <div class="row line">
      <div class="topic">
        <h1>Snap + Code = SnapCode</h1>
      </div>
      
      
    </div>

    <div class="row line">
      <p></p>
    </div>
  
    <div class="row line">
      <p>SnapCode is a web application that helps students get output from code block by just taking picture</p>
   
      <p> </p>
    </div>

    <div class="row line">
      <p></p>
    </div>
    
    <div class="line">
      
    </div>
  
    <div class="row line">
      <button class = 'btn myButton' (click) = "one()" ><a href = '#camera' style="scroll-behavior:smooth;">Get Started</a></button>
    </div>
    
  </div>
  
</div>

<div class="myContainer"  *ngIf = "forOne">
  <div class="wrapper" id="camera">
    <app-camera ></app-camera>
  </div>
</div>

<div class="transfer"  *ngIf = "forOne">
  <i class="fa fa-angle-double-down" style="font-size:100px"></i>
</div>

<div class="myContainer" *ngIf = "forOne">
  <div class="wrapper">
    <app-code></app-code>
  </div>
</div>

<div class="transfer"  *ngIf = "forOne">
  <i class="fa fa-angle-double-down" style="font-size:100px"></i>
</div>

<div class="myContainer" *ngIf = "forOne">
  <div class="wrapper">
    <app-result [result]='compileResult'></app-result>
  </div>
</div>
