.myPart {
    /* border : 1px solid black; */
    padding: 1%;
}

.content {
    margin-top : 5%;
    margin-left : 2%;
    margin-right : 2%;
}


.wrapper {  

    text-align: center;
    vertical-align: center;
    /* border : 1px solid black; */
    padding-top : 10%;
}
