.navbar {
    color : white;
    /* align-items: center;
    justify-content: center;
    overflow: hidden; */

}

.navbar-brand,.nav-item
{
    color:rgb(39,39,39);

}

.letter
{
    letter-spacing: 5px;
    font-size: 30px;
    font-family:sans-serif;
}